<html>

    <body>

        <h2>how much do you want to ruin a person's day with your insult?</h2>
        <ul>
            <form action="/en" method="POST">
                <li><input type ="submit" name="baby" value="baby mode"></li>
                <li><input type ="submit" name="mean" value="hardcore survival"></li>
                <li><input type ="submit" name="any" value="no preference"></li>
                <li><input type ="submit" name="play_god" value="play god"></li>
            </form> 
        </ul>

    </body>

</html>