% rebase("base.html")

<section class="section">
    <form action="/favourites" method="POST">
        <div class="columns has-text-centered">
            <div class="column is-12">
                <div class="content">
                    % if len(favourites_list) != 0:
                        % for i, insult in favourites_list:
                        <h2 class="subtitle is-5 has-text-centered has-text-black">
                            {{insult}}
                            <button class="button is-small is-danger is-outlined" name="i">
                                <span class="icon">
                                    <i class="fas fa-times"></i>
                                </span>
                            </button>
                        </h2>
                        % end
                    % else:
                        <h2 class="subtitle is-5 has-text-centered has-text-black">you don't have any favourited insults yet</h2>
                </div>
            </div>
        </div>
    </form>
</section>