<html>

    <body>

        <h2>kako oporečna želiš, da je tvoja zmerljivka?</h2>
        <ul>
            <form action="/si" method="POST">
                <li><input type ="submit" name="nezaljiva" value="otročje nežaljiva"></li>
                <li><input type ="submit" name="moralno_oporecna" value="brez moralnega kompasa"></li>
                <li><input type ="submit" name="brez_preference" value="vseeno mi je"></li>
                <li><input type ="submit" name="samostojno" value="sestavil/-a si jo bom sam/-a"></li>
            </form> 
        </ul>

    </body>

</html>