% rebase("base.html")

<section class="section">
    <h1 class="title is-1 has-text-centered is-spaced has-text-black">insult generator</h1>
    <h2 class="subtitle is-3 has-text-centered has-text-black">tvoja žaljivka je:</h2>
</section>

<section class="section">
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <p class="title is-3 has-text-centered has-text-black is-uppercase">{{insult}}</p>
        </div>
    </div>
</section>

<section>
    <form action="/nezaljiva-f" method="POST">
        <div class="columns">
            <div class="column is-2 is-offset-4 has-text-centered">
                <input class="button is-info is-outlined is-medium" type="submit" name="refresh" value="želim novo žaljivko">
            </div>
            <div class="column is-2 has-text-centered">
                <input class="button is-info is-outlined is-medium" type="submit" name="favourite" value="dodaj med priljubljene">
            </div>
        </div>
    </form>
</section>