% rebase("base.html")

<section class="section">
    <h1 class="title is-1 has-text-centered is-spaced has-text-black">insult generator</h1>
    <h2 class="subtitle is-3 has-text-centered has-text-black">pick a language:</h2>
</section>

<section class="section has-text-centered">
    <form action="/" method="POST">
        <div class="columns">
            <div class="column is-1 is-offset-5">
                <input class="button is-info is-outlined is-medium" type ="submit" name="en" value="en">
            </div>
            <div class="column is-1">
                <input class="button is-info is-outlined is-medium" type ="submit" name="si" value="si">
            </div>
        </div>
    </form>
</section>