<html>

    <body>

        <form action="/play-god" method="POST">

            adjectives: <input type="text" name="adjective">
            nouns: <input type="text" name="noun">
            <input type="submit" value="add!">
            <input type="submit" name="generate" value="generate">

        </form>

        <h2>Adjectives:</h2>
        <ul>
            % for adjective in Adjective.adjectives:
                % if adjective.difficulty == "custom" and adjective.language == "en":
                <li>{{adjective}}</li>
                % end
            % end
        </ul>
        
        <h2>Nouns:</h2>
        <ul>
            % for noun in Noun.nouns:
                % if noun.difficulty == "custom" and noun.language == "en":
                <li>{{noun}}</li>
                % end
            % end
        </ul>

    </body>

</html>