<html>

    <body>

        <form>

            samostalniki: <input type="text" name="samostalnik">          
            pridevniki: <input type="text" name="pridevnik">
            spol:
            <input type="radio" name="spol" value="ž"> <label for="ž">ž</label><br>
            <input type="radio" name="spol" value="m"> <label for="m">m</label><br>
            <input type="radio" name="spol" value="s"> <label for="s">s</label><br>

            <input type="submit" value="dodaj!">

        </form>

    </body>

</html>